*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

/* parte del header */
#header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}

.header_izquierdo{
    display:flex;
    align-items: center;
    min-width: 14.2vw;
    justify-content: space-between;
}

.header_izquierdo{
    display:flex;
    align-items: center;
    min-width: 14.2vw;
    justify-content: space-between;
}

#header a{
    margin-left: 20px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: inherit;
}

#header a:hover{
    color: red;
}

#header li{
    list-style: none;
    cursor: pointer;
    padding: 1%;
}



/* #navbar-pinterest li{
    list-style: none;
    cursor: pointer;
    padding: 1%;
} */

.finder{
    width: 70%;
    position: relative;
    padding: 1%;
}

#buscador{
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: -5px;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.212);
    font-size: 20px
}

#buscador:focus{
    outline: none;
}

#navbar-pinterest{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 1%;
}

#notifications:hover{

}

#message:hover{

}

#profile-img:hover{

}

#pinterest-icon{
    height: 25px;
    width: 25px;
}

#notifications img{
    height: 25px;
    width: 25px;
}

#message img{
    height: 25px;
    width: 25px;
}

#profile-img img{
    height: 25px;
    width: 25px;
}
/* parte del header */

@media all and(min-width: 421px) and (max-width: 768px){
    .container{
        grid-template-columns: repeat(auto-fill,200px);
    }
    .search{
        display: none;
    }
    #navbar-pinterest > li:nth-child(2){
        font-weight: 500;
        font-size: 15px;
        
    }
}

@media all and (min-width:50px) and (max-width: 420px){
    .container{
        grid-template-columns: repeat(auto-fill,150px);
    }
    .container > div{
        padding: 0;
        margin: 8px 5px;
        border-radius: 20px;
    
    }
    #navbar-pinterest{
        padding: 2%;
    }
    .search > input{
        /* display: none; */
        padding: 3%;
    }
    #navbar-pinterest > li>img{
        width: 30px;
        height: 30px;
        
    }
    #navbar-pinterest > li {
        font-size: 12px;
        
    }
    #navbar-pinterest > li i{
        display: none;
        
    }
    #navbar-pinterest > li:nth-child(2){
        display: none;
        
    }
    #navbar-pinterest > li:nth-child(3){
        display: none;
        
    }
    .card > iframe{
        border-radius:25px ;
    }

}